.App {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(61, 28, 84);
  background: linear-gradient(
    340deg,
    rgba(61, 28, 84, 0.4598214285714286) 0%,
    rgba(88, 9, 9, 0.5158438375350141) 50%,
    rgba(153, 106, 40, 0.4290091036414566) 100%
  );
  /* height: 100%; */
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
